<!DOCTYPE html>
<html ng-app="productos">
<head>
    <meta charset="utf-8" />
    <title>Tienda Virtual</title>
    <link rel="stylesheet" type="text/css" href="stylesheet1.css" />
</head>
<body>

    <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Ingresar</button>

    <p>Id:{{id}}</p>

    <div id="id01" class="modal">

        <form class="modal-content animate">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            </div>

            <div class="container">
                <label for="uname"><b>Mail</b></label>
                <input type="text" placeholder="Ingrese mail" ng-model="mail" />

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Ingrese contraseña" ng-model="password" />

                <button type="submit" ng-controller="LoginController" ng-click="Login()">Ingresar {{respuesta}}</button>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
            </div>
        </form>
    </div>

    <button onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Registrarse</button>

    <div id="id02" class="modal">

        <form class="modal-content animate">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
            </div>

            <div class="container">
                <label for="uname"><b>Mail</b></label>
                <input type="text" placeholder="Ingrese mail" ng-model="mail" />

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Ingrese contraseña" ng-model="password" />

                <label for="clinom"><b>Cliente Nombre</b></label>
                <input type="clinombre" placeholder="Ingrese el nombre del cliente" ng-model="clinombre" />

                <label for="clinom"><b>Cliente Nombre</b></label>
                <input type="clinombre" placeholder="Ingrese el nombre del cliente" ng-model="clinombre" />

                <button type="submit" ng-controller="LoginController" ng-click="Login()">Ingresar {{respuesta}}</button>
            </div>

            <div class="container" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
            </div>
        </form>
    </div>

    <div ng-controller="ProductosController">
        <h1 id="titulo" class="center">Tienda Virtual</h1>
        <div id="producto" ng-repeat="producto in productos1">
            <h1 class="center">{{producto.Nombre}}</h1>
            <h2 id="descripcion">{{producto.Descripcion}}</h2>
            <div><img class="center" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Imagen_no_disponible.svg" alt="Imagen no disponible" height="150" width="150"></div>
            <p id="precio" class="center">Precio: ${{producto.Precio}}</p>
            <button class="center" type="button">Comprar</button>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script type="text/javascript" src="/app.js"></script>

</body>
</html>